/*Обнуление*/
*{padding:0;margin:0}
h1{
  color: aqua;
  font-size:72px;
}
h2{
  color: gold;
  font-size:36px
}
/*--------------------*/

.App {
  text-align: center;
  max-width: 1920px;
  min-height: 1000px;
  background-image: url("../public/Beautiful-dream-beach_1920x1080.jpg");
  background-repeat: no-repeat;
}

.Head{
  height: 100px;
  line-height: 90px;
  margin-bottom: 100px;
}